.boxTask {
  background-color: var(--gray-500);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  max-width: 46rem;
  justify-content: space-between;
}

.boxTask .content {
  display: flex;
  gap: 15px;
}

.boxTask .content p {
  text-align: justify;
}

@media(max-width: 930px) {
  .boxTask .content p {
    text-align: left;
  }
}

.completed {
  text-decoration: line-through;
}

.boxCheck {
  appearance: none;
  background-color: var(--blue-dark);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid var(--blue-dark);
  position: relative;
  cursor: pointer;
  background-color: transparent;
}

.boxCheck:checked {
  background-color: var(--purple-dark); 
  border: none;
}

.boxCheck:checked::before {
  content: '';
  display: block;
  width: 6px;
  height: 10px;
  margin: auto;
  border: solid var(--gray-200);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.boxTask button {
  background: transparent;
  border: 0;
  color: var(--gray-300);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.boxTask button:hover {
  color: var(--green-300);
}
