.container {
  display: flex;
  margin: auto;
}

.container .wrapper {
  display: flex;
  flex-direction: row;
  padding: 5px;
  gap: 1rem;
  margin: auto;
  background-color: var(--gray-500);
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 0px 8px 8px 0px;
}

.container .wrapper .wrapperPlay {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imageMusic {
  background-color: black;
  display: flex;
  align-items: center;
}
