.formTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0rem 22.188rem; */
}

.sendTask {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: relative;
  bottom: 1.688rem;
}

.inputTask {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--gray-700);
  color: var(--gray-300);
  background-color: var(--gray-500);
  font-size: 1rem;
  width: 39.813rem;
}

.buttonCreatedTask {
  background-color: var(--blue-dark);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  gap: 0.5rem;
  text-transform: uppercase;
  transition: color 0.6s ease;
  transition: background-color 0.6s ease;
}

.buttonCreatedTask:hover {
  background-color: var(--purple-dark);
  color: var(--gray-100);
}

.postTask {
  gap: 1.5rem;
  display: inline-grid;
  margin: 4.063rem 0px 0px 0px;
  justify-content: center;
}

.postAllTask {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0rem 4rem 0rem;
  border-top: 2px solid var(--gray-400);
  border-radius: 8px;
  width: 60rem;
}

.logoTask {
  width: 56px;
  height: 56px;
}
