.wrapper {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.aside {
  display: flex;
  flex-direction: column;
  padding-top: 0.25rem;
}

.imageMusic {
  background-color: black;
  display: flex;
  align-items: center;
}

.coverAuthor {
  height: 100%;
  width: 4rem;
  border: 1px solid var(--gray-100);
}